/* Fading in
#############################################################
*/
@keyframes left-slide-in {

    from {
        transform: translateX(100%);
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    
}

@-webkit-keyframes left-slide-in {

    from {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    
}

.left-slide-in {
    animation-name: left-slide-in;
    -webkit-animation-name: left-slide-in;
}

/*---------------------------------------------------------*/

@keyframes right-slide-in {

    from {
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    
}

@-webkit-keyframes right-slide-in {

    from {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    
}

.right-slide-in {
    animation-name: right-slide-in;
    -webkit-animation-name: right-slide-in;
}

/* Fading out
#############################################################
*/
@keyframes left-slide-out {

    from {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
    
}

@-webkit-keyframes left-slide-out {

    from {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
    
}

.left-slide-out {
    animation-name: left-slide-out;
    -webkit-animation-name: left-slide-out;
}

/*---------------------------------------------------------*/

@keyframes right-slide-out {

    from {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    
}

@-webkit-keyframes right-slide-out {

    from {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    
}

.right-slide-out {
    animation-name: right-slide-out;
    -webkit-animation-name: right-slide-out;
}

/*---------------------------------------------------------*/

.left-slide-in,
.right-slide-in,
.left-slide-out,
.right-slide-out {
    animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    -o-animation-duration:0.3s;
    -webkit-animation-duration:0.3s;
}

.left-slide-out,
.right-slide-out {
    animation-fill-mode:both;
    animation-timing-function:ease-in;
    -moz-animation-fill-mode:both;
    -moz-animation-timing-function:ease-in;
    -o-animation-fill-mode:both;
    -o-animation-timing-function:ease-in;
    -webkit-animation-fill-mode:both;
    -webkit-animation-timing-function:ease-in;
}