/* Fading in
#############################################################
*/
@keyframes left-fade-in {

    from {
        opacity:1;
        transform: translateX(100%);
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    to {
        opacity:1;
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    
}

@-webkit-keyframes left-fade-in {

    from {
        opacity:1;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    to {
        opacity:1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    
}

.left-fade-in {
    animation-name: left-fade-in;
    -webkit-animation-name: left-fade-in;
}

/*---------------------------------------------------------*/

@keyframes right-fade-in {

    from {
        opacity:1;
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    to {
        opacity:1;
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    
}

@-webkit-keyframes right-fade-in {

    from {
        opacity:1;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    to {
        opacity:1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    
}

.right-fade-in {
    animation-name: right-fade-in;
    -webkit-animation-name: right-fade-in;
}

/* Fading out
#############################################################
*/
@keyframes left-fade-out {

    from {
        opacity:1;
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    to {
        opacity:1;
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
    
}

@-webkit-keyframes left-fade-out {

    from {
        opacity:1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    to {
        opacity:1;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
    
}

.left-fade-out {
    animation-name: left-fade-out;
    -webkit-animation-name: left-fade-out;
}

/*---------------------------------------------------------*/

@keyframes right-fade-out {

    from {
        opacity:1;
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    to {
        opacity:1;
        transform: translateX(100%);
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    
}

@-webkit-keyframes right-fade-out {

    from {
        opacity:1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    to {
        opacity:1;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    
}

.right-fade-out {
    animation-name: right-fade-out;
    -webkit-animation-name: right-fade-out;
}

/*---------------------------------------------------------*/

@keyframes pulse {
    
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.2);
    }
    
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse;
    -webkit-animation-name:pulse;
}

.left-fade-in,
.right-fade-in {
    animation-duration:0.8s;
    -moz-animation-duration:0.8s;
    -o-animation-duration:0.8s;
    -webkit-animation-duration:0.8s;
}

.left-fade-out,
.right-fade-out {
    animation-duration:0.8s;
    animation-fill-mode:both;
    animation-timing-function:ease-in;
    -moz-animation-duration:0.8s;
    -moz-animation-fill-mode:both;
    -moz-animation-timing-function:ease-in;
    -o-animation-duration:0.8s;
    -o-animation-fill-mode:both;
    -o-animation-timing-function:ease-in;
    -webkit-animation-duration:0.8s;
    -webkit-animation-fill-mode:both;
    -webkit-animation-timing-function:ease-in;
}