/* Fading in
#############################################################
*/
@keyframes left-fade-in {

    from {
        opacity: 0;
        transform: translateX(50px);
        -ms-transform: translateX(50px);
        -webkit-transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    
}

@-webkit-keyframes left-fade-in {

    from {
        opacity: 0;
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    
}

.left-fade-in {
    animation-name: left-fade-in;
    -webkit-animation-name: left-fade-in;
}

/*---------------------------------------------------------*/

@keyframes right-fade-in {

    from {
        opacity: 0;
        transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    
}

@-webkit-keyframes right-fade-in {

    from {
        opacity: 0;
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    
}

.right-fade-in {
    animation-name: right-fade-in;
    -webkit-animation-name: right-fade-in;
}

/* Fading out
#############################################################
*/
@keyframes left-fade-out {

    from {
        opacity: 1;
        transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
    }
    
}

@-webkit-keyframes left-fade-out {

    from {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
    }
    
}

.left-fade-out {
    animation-name: left-fade-out;
    -webkit-animation-name: left-fade-out;
}

/*---------------------------------------------------------*/

@keyframes right-fade-out {

    from {
        opacity: 1;
        transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(50px);
        -ms-transform: translateX(50px);
        -webkit-transform: translateX(50px);
    }
    
}

@-webkit-keyframes right-fade-out {

    from {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
    }
    
}

.right-fade-out {
    animation-name: right-fade-out;
    -webkit-animation-name: right-fade-out;
}

/*---------------------------------------------------------*/

@keyframes pulse {
    
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.2);
    }
    
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse;
    -webkit-animation-name:pulse;
}


.left-fade-in,
.right-fade-in,
.left-fade-out,
.right-fade-out {
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
}