/* General rules
#############################################################
*/
body {
    background-color:#ddd;
    overflow-y:hidden;
    overflow-x:hidden;
}

html, 
body {
    width:100%;
    height:98%;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-size:100%;
    font-weight:300;
}

a:link,
a:visited 
a:hover,
a.active {
    text-decoration:none;
}

a,
button {
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

hr {
    border:0;
    height:1px;
    background-image:-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150, 1), rgba(0,0,0,0));
    background-image:   -moz-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150, 1), rgba(0,0,0,0));
    background-image:    -ms-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150, 1), rgba(0,0,0,0));
    background-image:     -o-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150, 1), rgba(0,0,0,0));
    background-image:        linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150, 1), rgba(0,0,0,0));
}

/* Removes the dotted outline for links in Firefox */
a:focus {
    outline:none;
}

/* Removes image-link border in IE */
a, img {
    border:none;
}

noscript {
    text-align:center;
    color:#c00;
}

/* Navigation
#############################################################
*/
#nav {
    position:fixed;
    display:table;
    vertical-align:middle;
    left:0px;
    top:0px;
    width:100%;
    height:54px;
    border-bottom:3px solid #09c;
    background-color:#000;
    box-shadow:0px 0px 15px #999;
    -moz-box-shadow:0px 0px 15px #999;
    -o-box-shadow:0px 0px 15px #999;
    -webkit-box-shadow:0px 0px 15px #999;
    z-index:50;
    text-align:center;
    font-size:100%;
    font-weight:400;
}

a.nav-item {
    vertical-align:middle;
    border-bottom:8px solid rgba(0,0,0,0);
    padding:10px 20px;
    font-weight:400;
    margin:0px 10px;
    color:white;
}

.active,
a.nav-item:hover,
a.nav-item:active {
    border-bottom:6px solid #09c !important;
}

a.nav-item:hover,
a.nav-item:active {
    background-color: rgba(0,153,255,0.4);
}

/* Page content
#############################################################
*/
#page-content {
    padding-top:60px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    overflow-y:auto;
}

.centerh {
    height:auto;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    max-width:1080px;
}

.page-item {
    border-radius:5px;
    background:#f0f0f0;
    color:#777;
    text-decoration:none;
    overflow:hidden;
    vertical-align:middle;
    margin:20px;
    box-shadow:0px 0px 10px #ccc;
    -moz-box-shadow:0px 0px 10px #ccc;
    -o-box-shadow:0px 0px 10px #ccc;
    -webkit-box-shadow:0px 0px 10px #ccc;
}

.card {
    display:inline-block;
    margin:5px;
    padding:20px;
    height:180px;
    width:180px;
    border-radius:3px;
    background:#fff;
    overflow:hidden;
    vertical-align:middle;
    background-color:white;
    /* border-bottom:4px solid #e5e5e5; */
    box-shadow:0px 0px 7px #ddd;
    -moz-box-shadow:0px 0px 7px #ddd;
    -o-box-shadow:0px 0px 7px #ddd;
    -webkit-box-shadow:0px 0px 7px #ddd;
    color:#777;
    text-decoration:none;
    font-size:90%;
}

a.card:hover, 
a.card:active {
    color:#09c !important;
}

/* Header and footer
#############################################################
*/
#head {
    margin-bottom:5px;
    border-bottom:1px solid #09c;
}

#foot {
    margin-top:5px;
    padding:5px;
    border-top:1px solid #09c;
    text-align:center;
    font-size:80%;
}

#head,
#foot {
    height:50px;
    width:100%;
    color:#777;
    background-color:#f5f5f5;
}

/* Buttons
#############################################################
*/
button.regular-button {
    margin:5px;
    padding:5px 7px;
    border:0;
    border-radius:5px;
    background-color:#ddd;
    color:#09c;
    text-align:center;
    text-decoration:none;
    font-family:'Open Sans Condensed', sans-serif;
    font-weight:bold;
    font-size:80%;
}

button.regular-button:hover,
button.regular-button:active {
    background-color:#09c;
    color:#fff;
}

/* Positioning
#############################################################
*/
.ac {
    text-align:center;
}

.al {
    text-align:left;
}

.ar {
    text-align:right;
}

.aj {
    text-align:justify;
}

.fl {
    float:left;
}

.fr {
    float:right;
}

.vac-container {
    display:table;
}

.vac {
    display:table-cell;
    vertical-align:middle;
}

/* Misc styles
#############################################################
*/
a.text-link {
    color:#777;
}

a.text-link:hover,
a.text-link:active {
    opacity:0.7;
}

.col {
    display:inline-block;
    max-width:475px;
    padding:5px;
    vertical-align:top;
    color:#777;
}

.bigblue {
    color:#09c;
    font-size:250%;
}

.pad30 {
    padding: 30px;
}

.pad20 {
    padding: 20px;
}

.pad10 {
    padding: 10px;
}

.pad5 {
    padding: 5px;
}

#banner {
    width:100%;
}