/* General rules
#############################################################
*/

body {
    background-color:#444;
    background-image:url('../img/dark_wood.png');
    background-attachment:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

html, 
body {
    width:100%;
    height:98%;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-size:100%;
    font-weight:300;
}

a:link,
a:visited 
a:hover,
a.active {
    text-decoration:none;
}

a,
button {
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

hr {
    border:0;
    height:1px;
    background-image:        linear-gradient(left, rgba(0,0,0,0.1), rgba(150,150,150, 1), rgba(0,0,0,0.1));
    background-image:   -moz-linear-gradient(left, rgba(0,0,0,0.1), rgba(150,150,150, 1), rgba(0,0,0,0.1));
    background-image:    -ms-linear-gradient(left, rgba(0,0,0,0.1), rgba(150,150,150, 1), rgba(0,0,0,0.1));
    background-image:     -o-linear-gradient(left, rgba(0,0,0,0.1), rgba(150,150,150, 1), rgba(0,0,0,0.1));
    background-image:-webkit-linear-gradient(left, rgba(0,0,0,0.1), rgba(150,150,150, 1), rgba(0,0,0,0.1));
}

/* Removes the dotted outline for links in Firefox */
a:focus {
    outline:none;
}

/* Removes image-link border in IE */
a, img {
    border:none;
}

::selection {
	background-color: #888;
}

::-moz-selection {
	background-color: #888;
}

/* Navigation
#############################################################
*/
#nav {
    position:fixed;
    display:table;
    vertical-align:middle;
    left:0px;
    top:0px;
    width:100%;
    height:52px;
    border-bottom:2px solid #09c;
    background-color:rgba(0,0,0,0.8);
    box-shadow:0px 0px 15px #777;
    -moz-box-shadow:0px 0px 15px #777;
    -o-box-shadow:0px 0px 15px #777;
    -webkit-box-shadow:0px 0px 15px #777;
    z-index:50;
    text-align:center;
    font-size:90%;
    font-weight:400;
}

a.nav-item {
    vertical-align:middle;
    border-bottom:6px solid rgba(0,0,0,0);
    padding:10px 25px;
    font-weight:400;
    color:white;
}

.active {
    border-bottom:6px solid #09c !important;
}

a.nav-item:hover,
a.nav-item:active {
    background-color: rgba(100,100,100,0.5);
}

.tab-divider {
    border-left: 1px solid #aaa;
}

/* Page content
#############################################################
*/
#page-content {
    width:100%;
    text-align:center;
}

.centerh {
    height:auto;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    max-width:1080px;
}

.page-item {
    margin: 72px 20px 20px 20px;
    border-radius:5px;
    background-color:rgba(0,0,0,0.5);
    color:#ddd;
    text-decoration:none;
    overflow:hidden;
    vertical-align:middle;
    box-shadow:0px 0px 15px #222;
    -moz-box-shadow:0px 0px 15px #222;
    -o-box-shadow:0px 0px 15px #222;
    -webkit-box-shadow:0px 0px 15px #222;
}

.card {
    display:inline-block;
    margin:5px;
    padding:20px;
    height:180px;
    width:180px;
    border-radius:3px;
    overflow:hidden;
    vertical-align:middle;
    background-color:rgba(50,50,50,0.6);
    color:#777;
    text-decoration:none;
    font-size:90%;
}

a.card:hover, 
a.card:active {
    background-color:rgba(120,120,120,0.6);
    
    color:#09c !important;
}

/* Header and footer
#############################################################
*/
#head {
    border-bottom:1px solid #09c;
    height:40px;
}

#foot {
    padding:7px;
    margin-top:20px;
    border-top:1px solid #09c;
    text-align:center;
    font-size:80%;
}

#head,
#foot {
    width:100%;
    color:#777;
    
    font-size:60%;
    pading:5px;
}

.footer-icon {
    width:15px;
    height:15px;
    margin:5px;
    vertical-align:middle;
}

/* Buttons
#############################################################
*/
button.regular-button {
    margin:5px;
    padding:5px 7px;
    border:0;
    border-radius:5px;
    background-color:#ddd;
    color:#09c;
    text-align:center;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size:80%;
}

button.regular-button:hover,
button.regular-button:active {
    background-color:#09c;
    color:#fff;
}

/* Positioning
#############################################################
*/
.ac {
    text-align:center;
}

.al {
    text-align:left;
}

.ar {
    text-align:right;
}

.aj {
    text-align:justify;
}

.fl {
    float:left;
}

.fr {
    float:right;
}

.vac-container {
    display:table;
}

.vac {
    display:table-cell;
    vertical-align:middle;
}

/* Misc styles
#############################################################
*/
a.text-link {
    color:#777;
}

a.text-link:hover,
a.text-link:active {
    opacity:0.7;
}

.col {
    display:inline-block;
    max-width:460px;
    margin-right:20px;
    vertical-align:top;
    text-align:justify;
}

.bigblue {
    color:#09c;
    font-size:250%;
}

.pad30 {
    padding: 30px;
}

.pad20 {
    padding: 20px;
}

.pad10 {
    padding: 10px;
}

.pad5 {
    padding: 5px;
}