@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300);

* {
	font-family: 'Comfortaa', serif;
}

@media (min-width: 700px) {
	#pageContent {
		width: 600px;
		margin: 0 auto;
	}
}

@media (max-width: 700px) {
	#pageContent {
		width: 100%;
	}
}

#pageTitle {
	color: #33b5e5;
	margin: 50px 0px 35px 0px;
	text-align: right;
}

#textInput {
	width: 100%;
	height: 200px;
}

#textOutput {
	margin-top: 15px;
	font-family: 'Share Tech Mono', monospace;
}

#throbber {
	height: 30px;
	width: 30px;
	display: none;
	position: absolute;
	bottom:15px;
	right:15px;
}

#outputOpt {
	left: 0;
	margin-left: 15px;
}

#optionArg {
	right: 0;
	margin-right: 15px;
}

.edgyInput, .edgyInput option {
	resize: none;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	border-color: #33b5e5;
	background-color: #fff;
	color: #666;
	font-size: 100%;
	font-family: 'Share Tech Mono', monospace;
}

.edgyArgs {
	position: absolute;
	width: 45%;
	height: 25px;
	font-size: 100%;
	border-radius: 5px;
	background-color: #fff;
	color: #666;
}

.catBlock {
	width: 90%;
	min-height: 25px;
	border-right: 1px solid #33b5e5;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	padding: 15px;
}

body {
	background-color: #fff;
	color: #000;
}

table.stats {
	border-collapse: collapse;
	width: 100%;
}


table.stats tr td {
	width: 33%;
	text-align: center;
	color: #33b5e5;
}