body {
    background-image: url('img/tweed_@2X.png');
    overflow: auto; /*was hidden*/
    font-family: 'Open Sans Condensed', sans-serif;
}

/* Removes ugly dotted outline for links in Firefox */
a:focus {
    outline: none;
}

.nav-bar {
    width: 80%;
    margin: 10px 0 0 -40%;
    left: 50%;
    position: fixed;
    z-index: 1;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background: #eeeeee;
}

.nav-links {
    margin-left: auto;
    margin-right: auto;
}

a.nav-item {
    color: #777777;
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 150%;
}

a.nav-item:link, a.nav-item:visited, a.page-item:link, a.page-item:visited {
    text-decoration: none;
}

a.nav-item:hover, a.nav-item:active, a.page-item:hover, a.page-item:active, .active {
    opacity: 1;
    background-color: white;
    text-decoration: none;
    border-radius: 3px;
}

a.nav-item:hover, a.nav-item:active, .active {
    box-shadow: 0px 0px 20px #000000;
}

a.page-item:hover, a.page-item:active{
    box-shadow: 0px 0px 20px #ffffff;
}

.active {
    font-weight: bold;
}

.page-content {
    height: 80%;
    width: 99%;
    margin: 0;
    padding: 0;
    position: absolute;
    display: table;
    padding-top: 100px;
}

.centerv {
    display: table-cell;
    vertical-align: middle;
}

.centerh {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    float: left;
    overflow: hidden;
}

.page-item {  
    display: inline-block;
    overflow: auto;
    margin:20px;
    padding:20px;
    opacity: 0.8;
    background-color: white;
    text-decoration: none;
    color: #777777;
    border-radius: 3px;
    font-size: 100%;
}

a.page-item {
    height: 180px;
    width: 180px;
    box-shadow: 0px 0px 10px #000000;
}

.ac {
    text-align: center;
}

.al {
    text-align: left;
}

.ar {
    text-align: right;
}

.aj {
    text-align: justify;
}