body {
    background-image: url('img/tweed_@2X.png');
}

a.nav-link {
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
}

a.nav-link:hover {
    background-color:white;
    text-decoration: none;
    color: #777777;
}

a.nav-link:link {
    text-decoration:none;
    color: #777777;
}

a.nav-link:visited {
    text-decoration:none;
    color: #777777;
}

a.nav-link:active {
    text-decoration:none;
    color: #777777;
}

.text-light-shadow {
    color: #777777;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 150%
}

.center {
    text-align: left;
}

.box {
    opacity:0.8;
    border: 1px solid #a1a1a1;
    padding: 10px 10px; 
    background: #eeeeee;
    width: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

