#container {
    width:100%;
}

body {
    background-image: url('img/tweed_@2X.png');
}

a:focus { 
    outline: none; 
}

.nav-bar {
    opacity:0.8;
    border: 1px solid #cccccc;
    background: #eeeeee;
    width: 80%;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px #000000;
    font-family: 'Open Sans Condensed', sans-serif;
}

.nav-links {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.nav-item {
    color: #777777;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:10px;
    padding-left:10px;
    vertical-align: middle;
}

a.nav-item {
    font-size: 150%;
}

a.nav-item:hover {
    background-color:white;
    text-decoration: none;
    color: #777777;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #000000;
}

a.nav-item:link {
    text-decoration:none;
    color: #777777;
}

a.nav-item:visited {
    text-decoration:none;
    color: #777777;
}

a.nav-item:active {
    border: 0;
    background-color:white;
    text-decoration: none;
    color: #777777;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #000000;
}

.current {
    background-color:white;
    text-decoration: none;
    color: #777777;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #000000;
}